.login-form {
  height: 40vh;
  width: 27vw;
}

.login-form input {
  width: 270px;
  background-color: rgb(121, 143, 143);
}
.loginButton {
  background-color: white;
  color: black;
}

.registerButton {
  color: white;
}

.loginButton:hover {
  transform: scale(1.1);
  transition: 0.5s ease-out;
  background: linear-gradient(to right, rgb(114, 229, 114), rgb(14, 199, 14));
}

.registerButton:hover {
  transform: scale(1.1);
  transition: 0.5s ease-out;
  color: black;
  background: linear-gradient(to right, rgb(223, 32, 213), rgb(243, 132, 233));
}
.heading {
  font-weight: 900;
}

.login-form input::placeholder {
  color: white;
  opacity: 0.7;
}

.card {
  height: auto;
  overflow: hidden;
  padding: 20px;
  margin-top: 200px;
  width: 470px;
  align-items: center;
}

.container-fluid {
  background-color: rgba(8, 23, 48, 0.3);
  height: 100vh;
}
