.card{
    margin-top:50px;
    height: 500px;
    width: 950px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.image {
    position: relative;
    overflow: hidden;
    border-bottom-right-radius: 1.5%;
    border-top-right-radius: 1.5%;
    display: flex;
    flex-direction: column;
        justify-content: center;
        background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRbXGHeKamV4lBoNAdTrEDIs5oSpj1KVXOADBOuzOvbSZm7q2-5g8zJ8hXUSq_CHO-GNEw&usqp=CAU'); 
        background-size: cover;
}
        

.image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRbXGHeKamV4lBoNAdTrEDIs5oSpj1KVXOADBOuzOvbSZm7q2-5g8zJ8hXUSq_CHO-GNEw&usqp=CAU');
    background-size: cover;
    /* background-color: rgb(230, 102, 102); */
    opacity: 0.4;
    border-radius: inherit;
    /* background: linear-gradient(to bottom right, rgba(255, 187, 102, 0.3), rgba(255, 119, 0, 0.4)); */
}

.text-3d {
    font-size: 50px;
    font-weight: bold;
    color: black;
    text-shadow: 8px 8px 16px rgba(0, 0, 0, 0.8);
}

.profile-pic{
    width: 150px;
    height: 100px;
    object-fit: contain;
    margin-top: 20px;
}

.name{
    margin: auto;
    margin-top: 10px;
    color: black;
    font-size: large;

}
