<main class="form-signin w-100 m-auto">
  <form #rf="ngForm" (ngSubmit)="onSubmit(rf)">
    <h1 class="h3 mb-3 fw-normal">Register</h1>
    <div class="p-1">
      <label>Name:</label>
      <input
        ngModel
        name="name"
        type="text"
        class="form-control"
        placeholder="Full Name"
        #name="ngModel"
        required
        minlength="3"
        pattern="^[a-zA-Z0-9]+(?: [a-zA-Z0-9]+)*$"
      />
      <div *ngIf="name.errors?.['required']">
        <label class="text-danger" *ngIf="name.invalid && name.touched"
          >this field is required</label
        >
      </div>
      <div *ngIf="name.errors?.['minlength'] ">
        <label class="text-danger" *ngIf="name.invalid && name.touched"
          >name should be 3 characters atleast</label
        >
      </div>
      <div *ngIf="name.errors?.['pattern'] ">
        <label class="text-danger" *ngIf="name.invalid && name.touched"
          >name should not contain extra spaces</label
        >
      </div>
    </div>
    <div class="p-1">
      <label>Email:</label>
      <input
        ngModel
        name="email"
        type="email"
        class="form-control"
        #email="ngModel"
        placeholder="name@example.com"
        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
        required
      />
      <div *ngIf="email.errors?.['required']">
        <label class="text-danger" *ngIf="email.invalid && email.touched"
          >this field is required</label
        >
      </div>
      <div *ngIf="email.errors?.['pattern']">
        <label class="text-danger" *ngIf="email.invalid && email.touched"
          >invalid email address</label
        >
      </div>
    </div>
    <div class="p-1">
      <label>Password:</label>
      <input
        ngModel
        name="password"
        type="password"
        class="form-control"
        #password="ngModel"
        placeholder="Password"
        required
        pattern="[^' ']+"
        minlength="4"
      />
      <div *ngIf="password.errors?.['required']">
        <label class="text-danger" *ngIf="password.invalid && password.touched"
          >this field is required</label
        >
      </div>
      <div *ngIf="password.errors?.['pattern']">
        <label class="text-danger" *ngIf="password.invalid && password.touched"
          >password should not contain spaces</label
        >
      </div>
      <div *ngIf="password.errors?.['minlength'] ">
        <label class="text-danger" *ngIf="password.invalid && password.touched"
          >password should be atleast 4 characters</label
        >
      </div>
    </div>

    <button
      class="btn btn-primary w-100 py-2"
      type="submit"
      [disabled]="rf.invalid"
    >
      Submit
    </button>
    <label class="text-danger" *ngIf="errMessage">{{ errMessage }}</label>
  </form>
</main>
