<div class="container">
  <div class="card shadow bg-light">
    <form
      #ef="ngForm"
      (ngSubmit)="onSubmit(ef)"
      class="d-flex flex-column justify-content-center align-items-center"
      enctype="multipart/form-data"
    >
      <div style="width: 200px" class="align-items-start">
        <label class="form-label text-dark font-monospace fw-bold mt-4 mb-2"
          >Edit Name</label
        >
        <input
          ngModel
          name="name"
          type="text"
          class="form-control"
          placeholder="Full Name"
          #name="ngModel"
        />
        <label class="form-label font-monospace text-dark fw-bold mb-2"
          >Change Profile-pic</label
        >
        <input
          class="mb-3"
          type="file"
          name="profilePic"
          (change)="handleFileInput($event)"
          accept="image/*"
        />
      </div>
      <button type="submit" class="btn btn-success my-3">Save</button>
    </form>
  </div>
</div>
